{% extends 'base.html' %}

{% block content %}
<h1> Profile </h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if user.photo %}
    <p><img src="{{user.photo.url}}" alt="" width="200" height="200"></p>
    {% else %}
    <p><img src="{{default_image}}" alt="" width="200" height="200"></p>
    {% endif %}
    <input type="hidden" name="naxt" value="{{ next }}" />
    {% for f in form %}
    <p><label class="form-label" for="{{f.id_for_label}}">{{f.label}}</label>{{f}}</p>
    <div class="form-error">{{f.errors}}</div>
    {% endfor %}
    <p><button type="submit"> Save! </button></p>
</form>

{% if not perms.users.social_auth%}
<hr>
<p><a href="{% url 'users:password_change' %}"> Change password</a></p>
{% endif %}
{% endblock %}